.header {
	color: #434c5e;
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.heading__cont {
	display: flex;
	flex-direction: row;
}

.heading__img {
	display: block;
	height: 10rem;
	margin-right: 2.5rem;
}

.heading__img--rounded {
	border-radius: 50%;
}

.heading__info {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.position {
	margin-bottom: 1rem;
}

.contact {
	display: flex;
	flex-wrap: wrap;
}
