.profile {
	display: flex;
	flex-direction: row;
}

.profile__img {
	display: block;
	height: 10rem;
	margin-right: 2.5rem;
}

.profile__img--rounded {
	border-radius: 50%;
}

.profile__info {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.profile__name {
	color: #434c5e;
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 0.5rem;	
}

.profile__position {
	margin-bottom: 1rem;
}

.profile__contact {
	display: flex;
	flex-wrap: wrap;
}